.headerContainer {
  display: flex;
  justify-content: space-between;
  padding-block: 24px;
  align-items: center;
  background-color: var(--gray-light);
}

.logo {
  cursor: pointer;
}

.navigation {
  display: flex;
  gap: 32px;
}

.navItem {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  cursor: pointer;
  transition:
    color 0.3s ease-in-out,
    transform 0.1s ease;
}

.navItem:hover {
  color: var(--button-hover);
}

.active {
  color: var(--button-hover);
}
