.filterBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 18px;
  width: 100%;
  margin-bottom: 56px;
  font-family: var(--font-family);
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--gray);
  line-height: 133%;
  font-size: 12px;
  font-weight: 400;
}

.selectWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  padding: 12px 16px;
  border-radius: 12px;
  min-height: 44px;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--text-color);
  background-color: var(--inputs);
  border: none;
  font-size: 12px;
  outline: none;
  cursor: pointer;
  z-index: 1;
  min-height: 44px;
}
.input option {
  color: var(--gray);
}

.arrowIcon {
  position: absolute;
  right: 18px;
  width: 20px;
  height: 20px;
  fill: none;
  stroke: #121417;
  stroke-width: 2;
  pointer-events: none;
  z-index: 2;
}

.brandSelect {
  min-width: 204px;
}

.priceSelect {
  min-width: 196px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.rangeInputs {
  display: flex;
  border-radius: 12px;
  width: 320px;
  height: 44px;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--text-color);
  background-color: var(--inputs);
}

.inputWrapper {
  display: flex;
  align-items: center;
  background-color: var(--inputs);
  padding: 0 18px;
  background-color: transparent;
}
.inputWrapper:first-child {
  border-right: 1px solid rgba(138, 138, 137, 0.2);
}

.mileageInput {
  border: none;
  background: transparent;
  padding: 0;
  width: 100%;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
}

.inputLabel {
  margin-right: 4px;
  white-space: nowrap;
  color: var(--text-color);
  font-weight: 500;
}

.inputWrapper input {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
}

.searchBtn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 12px 51px;
  background-color: var(--button);
  color: var(--white);
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  line-height: 125%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.searchBtn:hover {
  background-color: var(--button-hover);
}
